@{
    ViewData["Title"] = "Beranda";
}

<div class="text-center">
    <h2 class="mt-4">Selamat Datang di Aplikasi Penjualan Elektronik (Komputer)</h2>
    <p class="lead">Gunakan menu untuk mengelola produk atau mencatat pesanan pelanggan.</p>
</div>

